<!--The whole content below can be removed with the new code.-->

<div class="inventory-app">
    <products-list
        [productList] = "products"                          
        (onProductSelected) = "productWasSelected($event)"> 
        
        <!-- key feature of Angular components: input and output -->

        <!-- [productList] = "products" -->
        <!--      - the [ SquareBrackets ] pass inputs
                  - pass data into child components via inputs

             [productList] - we want to use the productList input of the products-list component 
                "products" - we want to send the value of the expression products. -->

        <!-- (onProductSelected) = "productWasSelected($event)"
                 - the ( Parentheses ) handle outputs
                 - send data out of components via outputs 
              
              (onProductSelected) - the name of the output we want to 'listen' on
             "productWasSelected" - the function that we want to call when something new is sent to this output
                         ($event) - a special variable here that represents the thing emitted on (i.e. sent to ) the output. -->

        <!-- 'Data flows in' to your component via 'input bindings' and
                'Events flow out' of your component through 'output bindings' -->

        <!-- Note: Think of the set of input + output bindings as defining the 'public API' of your component. -->
        

    </products-list>
</div>